:root {
    --primary-bg-color: #949494;
}

@keyframes CHAT_BAR_HOVER {
    from {
        border: 3px solid black;
        border-radius: 7px;
    }
    to {
        border: 5px solid rgb(185, 185, 185);
        border-radius: 10px;
    }
}

body {
    background-color: var(--primary-bg-color);
    font-family: "Sansation", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#chat-text-input {
    border: 3px solid black;
    border-radius: 7px;
    resize: none;
    outline: 0;
    min-height: 40px;
    padding: 5px;
    width: 75%;
}

#chat-text-input:hover {
    animation: CHAT_BAR_HOVER 0.5s forwards;
}

#chat-text-input:focus {
    border: 5px solid rgb(185, 185, 185);
    border-radius: 10px;
    outline: 1px solid white;
}

#chat-messages {
    min-height: 500px;
    overflow-y: scroll;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 75%;
}

.chatMessage {
    border: 2px solid black;
    display: grid;
    grid-template-areas:
    "pfp info"
    "pfp text";
    margin: 5px;
    border-radius: 10px;
}

.chatMessage_info {
    grid-area: info;
    font-weight: bolder;
}

.chatMessage_pfp {
    grid-area: pfp;
    width: 50px;
    height: 50px;
    margin: 7px;
    border: 2px solid black;
    border-radius: 30px;
}

.chatMessage_text {
    grid-area: text;
}